#root {
  width: 100%;
  min-height: 100vh;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.winner-text{
  color: #28a745;     
  font-size: 32px;      
  font-weight: bold;    
  font-size: 2rem;
  color: green;
  margin-bottom: 1rem;
}
.turn-text {
  color: #ada9a9;         
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.reset{
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.square.winning {
  border-color: #ffeb3b; /* yellow highlight */
}